<!-- 分享代码 -->
<div class="baidufenxiang" style="overflow:auto;"><!-- Baidu Button BEGIN -->
	<div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
		<a class="bds_bdhome"></a>
		<a class="bds_renren"></a>
		<a class="bds_kaixin001"></a>
		<a class="bds_douban"></a>
		<a class="bds_youdao"></a>
		<a class="bds_sqq"></a>
		<a class="bds_hi"></a>
		<a class="bds_baidu"></a>
		<a class="bds_qq"></a>
		<a class="bds_tqq"></a>
		<a class="bds_tsina"></a>
		<a class="bds_qzone"></a>
		<a class="bds_mshare"></a>
		<span class="bds_more"></span>
		<a class="shareCount"></a>
	</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=53164" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<!-- Baidu Button END -->
</div>

<!-- 广告代码1 -->

<!-- 百度推荐 -->
<div style="margin-left: -12px; margin-bottom: -3px;">
<script>document.write(unescape('%3Cdiv id="hm_t_61751"%3E%3C/div%3E%3Cscript charset="utf-8" src="http://crs.baidu.com/t.js?siteId=99c2c06a529fc4c8787deb597141fe76&planId=61751&async=0&referer=') + encodeURIComponent(document.referrer) + '&title=' + encodeURIComponent(document.title) + '&rnd=' + (+new Date) + unescape('"%3E%3C/script%3E'));</script>
</div>