<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ReadZone后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/Js/libs/modernizr.min.js"></script>
</head>
<body>
<include file='Public:head' />
<div class="container clearfix">
<include file='Public:left' />
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font">&#xe06b;</i><span>欢迎来到ReadZone后台管理<span><a target="_blank" style="color:#f00; margin:0 20px;" href="">点击查看介绍及操作方法</a></span></span></div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>快捷操作</h1>
            </div>
            <div class="result-content">
                <div class="short-wrap">
                    <a href="__MODULE__/Article/add"><i class="icon-font">&#xe001;</i>新增文章</a>
                    <a href="__MODULE__/Cate/add"><i class="icon-font">&#xe048;</i>新增文章分类</a>
                    <a href="#"><i class="icon-font">&#xe01e;</i>作品评论</a>
                </div>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>系统基本信息</h1>
            </div>
            <div class="result-content">
                <ul class="sys-info-list">
                    <li>
                        <label class="res-lab">操作系统</label><span class="res-info">WINDOWS</span>
                    </li>
                    <li>
                        <label class="res-lab">运行环境</label><span class="res-info">Apache/2.2.21 (Win64) PHP/5.3.10</span>
                    </li>
                    <li>
                        <label class="res-lab">PHP运行方式</label><span class="res-info">apache2handler</span>
                    </li>
                    <li>
                        <label class="res-lab">上传附件限制</label><span class="res-info">2M</span>
                    </li>
                    <li>
                        <label class="res-lab">制作团队</label><span class="res-info">刘敬雄 李玉伟 孟想成真</span>
                    </li>
                    <li>
                        <label class="res-lab">开始时间</label><span class="res-info">2016年11月25日 19:26:24</span>
                    </li>
                    <li>
                        <label class="res-lab">服务器域名</label><span class="res-info">localhost</span>
                    </li>
                    <li>
                        <label class="res-lab">Host</label><span class="res-info">127.0.0.1</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>使用帮助</h1>
            </div>
            <div class="result-content">
                <ul class="sys-info-list">
                    <li>
                        <label class="res-lab">Jwroom交流群：</label><span class="res-info">121039455</span>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>