<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/Js/libs/modernizr.min.js"></script>
</head>
<body>
<include file="Public/head" />
<div class="container clearfix">
    <include file="Public/left" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index/index">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="__CONTROLLER__/lst">链接管理</a><span class="crumb-step">&gt;</span><span>修改链接</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="__CONTROLLER__/edit" method="post" id="myform" name="myform">
                <input type="hidden" name="id" value="{$links.id}">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>链接名称：</th>
                                <td>
                                    <input class="common-text required" id="title" name="title" size="50" value="{$links.title}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>链接地址：</th>
                                <td>
                                    <input class="common-text required" id="url" name="url" size="50" value="{$links.url}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>链接描述：</th>
                                <td>
                                    <textarea style="width:400px; height:100px;" name="desc">{$links.desc}</textarea>
                                </td>
                            </tr>
                            
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>